/* -------------SECTIONS-----------------*/
/* --------------------------------------*/

html, body{
    margin:0px;
    padding:0px;
    width:100%;
    height:auto;
    overflow-x:hidden;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0;
    padding:30px;
    width:100vw;
    grid-area:head;
    background-color:#ffffff;
    box-shadow:0px 3px 5px 0px #4f4e4e;
    box-sizing:border-box; /* include border on inside of header*/
    z-index:1000;
}
main{
    grid-area:main;
    border:0px solid;
    
}
aside{
    grid-area:aside;
    border:0px solid;
    background-color:#2f1d43;
    z-index:998;
}
footer{
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    padding-left:100px;
    padding-right:100px;
    grid-area:foot;
    border-top:4px solid #2f1d43;
    background-color:rgb(244, 244, 244);
    box-shadow:3px 0px 5px 0px #4f4e4e;
    height:auto;
    width:100vw;
    height:40px;
    bottom:0;
    left:0;
    z-index:999;
}

#grid-container-1{
    display:grid;
    grid-template-columns:60px auto;
    grid-template-rows:60px 1fr 40px;
    grid-template-areas:
        "head head"
        "aside main"
        "foot foot";
    gap:0px;
    border: 0px solid;
}
.thead{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#2f1d43;
    grid-column: 1 / -1;
    grid-template-columns:subgrid;
    height:40px;
}
.thead span{
    color:white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size:1.2rem;
}
#add-task{
    font-weight:500px;
}

/* ------MAIN CONTENT PANEL FOOTERS------ */
.tfoot{
    grid-column: 1 / -1; /* <<< 1ST COLUMN SPAN UP TO THE LAST COLUMN, DESIGNATED BY THE -1 */
    background-color:#e0dee2;
    border: 2px solid lightgray;
    height:40px;
    position:sticky;
    bottom:0;
}

/* ---------HEADER CLASSES---------- */
.header-image{
    display:flex;
    flex:1; /* makes left and right divs equal width so logo stays centered*/
    justify-content:left;
}
.header-logo{
    display:flex; /*pushes img to the right*/
    flex:0;
    text-align:center;
}
.header-icons{
    display:flex;
    justify-content:flex-end; /* pushes the icons to the right */
    flex:1; /* makes left and right divs equal width so logo stays centered*/
    gap:10px;
}

/*--------------ELEMENTS----------------*/
/*--------------------------------------*/
.header-icons img{
    width:32px;
    height:32px;
}
#main-logo{
    font-size:2rem;
    color:black;
    text-decoration:none;

}
a{
    text-decoration:none;
    color:black;
}
/* bread crumbs */
.top-div{
padding:8px;
padding-bottom:0px;
}
